:root {
	--main-bg-color: #0d0d0d;
	--yellow-0: #fdf8e1;
	--yellow-1: #fcefb4;
	--yellow-2: #fae588;
	--yellow-3: #f9dc5c;
	--yellow-4: #211f18;
	--yellow-5: #1d1b14;
	--card-header: #292822;
	--card-body: #1f1e1a;
	--yellow-0-trans-0: #fdf8e115;
	--yellow-0-trans-1: #fdf8e199;
}

body {
	background: linear-gradient(180deg, var(--yellow-4) 0%, var(--main-bg-color) 100%);
	width: 100vw;
}

.center {
	margin-left: auto;
	margin-right: auto;
	max-width: 100rch;
	padding-left: 4rem;
	padding-right: 4rem;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1.17rem;
	color: var(--yellow-0);
	position: sticky;
	top: 1.5rem;
	z-index: 10;
}

.navbar a {
	display: inline-block;
	position: relative;
	background-color: rgba(255, 255, 255, 0);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(10px);
	padding: 0.7rem;
	border-style: solid;
	border-radius: 1rem;
	overflow: hidden;
}

.navbar a:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 4px;
	bottom: 0px;
	left: 0;
	background-color: var(--yellow-0);
	transform-origin: bottom right;
	transition: transform 0.15s ease-out;
}

.navbar a:not(.selected-navbar):hover {
	font-weight: bold;
}

.navbar a:not(.selected-navbar):hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.selected-navbar {
	color: var(--yellow-3);
	text-decoration: underline;
	font-weight: bold;
}

h3 {
	color: var(--yellow-0);
	font-size: 1.5rem;
	margin: 0;
}

h2 {
	color: var(--yellow-1);
}

h1 {
	color: var(--yellow-0);
	font-size: 2rem;
}

.hero {
	aspect-ratio: 1.6/1;
	width: 70%;
	border-radius: 30%/50%;
	float: right;
	position: relative;
	top: -17rem;
	z-index: -1;
	filter: brightness(50%);
}

.no-top-bottom-margin {
	margin-top: 0;
	margin-bottom: 0;
}

.group-section {
	border-right-style: solid;
	border-right-width: 4px;
	border-radius: 1rem;
	border-color: var(--yellow-1);
}

ul li {
	display: inline-block;
	color: var(--yellow-0);
	font-size: 2rem;
	width: 100%;
}

ul {
	padding: 0;
}

.spacer {
	height: 25vh;
}

.card-header {
	background-color: var(--card-header);
	display: flex;
	flex-direction: horizontal;
	justify-content: space-between;
	padding: 2rem;
	align-items: center;
	border-radius: inherit;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.card-header-title {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
}

.card-body-title {
	color: var(--yellow-1);
	margin: 0;
}

.card-body-content {
	color: var(--yellow-0);
	padding: 2rem;
	padding-top: 0;
	font-family: "IBM Plex Mono", monospace;
}

.card-body {
	background-color: var(--card-body);
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	border-radius: inherit;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	font-family: "IBM Plex Mono", monospace;
}

.work-logo {
	width: 4rem;
	height: 4rem;
}

.card-base {
	position: relative;
	overflow: hidden;
	border-radius: 1rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.card-content {
	background-color: var(--card-body);
	position: relative;
	z-index: 2;
	border-radius: inherit;
	margin: 0.1rem;
}

.card-round-top {
	border-style: hidden;
	border-top-left-radius: 2.5rem;
	border-top-right-radius: 2.5rem;
}

.card-round-bottom {
	border-style: hidden;
	border-bottom-left-radius: 2.5rem;
	border-bottom-right-radius: 2.5rem;
}

.card-base:before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background: radial-gradient(
		64rem circle at var(--mouse-x) var(--mouse-y), 
		var(--yellow-0-trans-1),
		transparent 20%
	);
	z-index: 1;
}

.card-content:hover:before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	transition: opacity 500ms;
	background: radial-gradient(
		48rem circle at var(--mouse-x) var(--mouse-y),
		var(--yellow-0-trans-0),
		transparent 30%
	);
	z-index: 3;
	border-radius: inherit;
	pointer-events: none;
}

p {
	font-size: 1.17rem;
}

a:link {
	color: var(--yellow-1);
	text-decoration: bold, underline;
}

a:visited {
	color: var(--yellow-1);
	text-decoration: bold, underline;
}

@media (width < 768px) {
	html {
		font-size: 62.5%;
	}

	.ignore-on-mobile {
		display: none;
	}

	.hero {
		top: -14rem;
	}

	.card-body {
		display: block;
	}
}
