<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Recent News 🗞️:</span></h5>
        &nbsp➙&nbsp I am excited to have joined the Judge Business School's EnterpriseTech program.  [Jan 2024]<br>

        <br>
        &nbsp➙&nbsp   Kutay Tire has joined our group as a research intern, working with me on <i>neural surface reconstruction</i>. [Feb 2023]<br>

        <br>
        &nbsp➙&nbsp   I have launched the <a href = "https://computationaltoolkit.github.io"><em><u>Computational Toolkit</u></em></a> webpage, as part of my work with the University of Warwick. [Nov 2022]<br>
       <br>
        &nbsp➙&nbsp   I have started my PhD with Dr Cengiz Öztireli at the University of Cambridge. [Oct 2022]<br>
        <!--&nbsp➙&nbsp   I submitted my MSc thesis on point-set reconstruction at the University of Lincoln. [Sep 2022] -->


    </div>
    <!--div class="sidebar-section">
        <h5><span>Your Ad Here</span></h5>
        <img src="{{site.baseurl}}/assets/images/ad.png">
    </div-->
</div>