<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Recent News:</span></h5>

         &nbsp➙&nbsp I ran the Cambridge NLIP Seminars in Michaelmas – thank you to our  <a href = "https://talks.cam.ac.uk/show/index/6401"><em><u> invited speakers </u></em></a> ! [Dec 2024]<br>
        
        &nbsp➙&nbsp I am excited to have delivered my first lecture for a masters-level NLP course in Cambridge on <a href = "https://suchirsalhan.github.io/L95-lecture"><em><u>Multilingual Language Model Evaluation</u></em></a>  [Nov 2024]<br>

        <br>
        &nbsp➙&nbsp   I presented my MEng Thesis, <a href = "https://arxiv.org/abs/2410.22886"><em><u>Less is More: Pre-Training Cross-Lingual Small-Scale Language Models with Cognitively-Plausible Curriculum Learning Strategies
</u></em></a> at EMNLP (2024) in Miami  . [Oct 2024]<br>

       <br>
        &nbsp➙&nbsp   I have started my PhD with Prof Paula Buttery, after graduating with my BA (Class I*) and MEng (Distinction) from the University of Cambridge [Oct 2024]<br>


    </div>
    <!--div class="sidebar-section">
        <h5><span>Your Ad Here</span></h5>
        <img src="{{site.baseurl}}/assets/images/ad.png">
    </div-->
</div>
