---
layout: default
---
<!-- Post Featured Image -->
{% if page.image %}
<div class="text-center mx-auto mb-5">
  <img class="featured-image text-center mx-auto rounded" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">
</div>
{% endif %}
<!-- End Featured Image -->

<div class="col-lg-8 mx-auto">

  <div class="mainheading">
    <h1 class="posttitle">{{ page.title }}</h1>
  </div>

  <div class="article-post  serif-font">
    {{content}}
  </div>

</div>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
  TeX: { equationNumbers: { autoNumber: "AMS" } }
  }); a
</script>
<script type="text/javascript" async src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <!-- for mathjax support -->
    {% if page.usemathjax %}
      <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
        TeX: { equationNumbers: { autoNumber: "AMS" } }
        });
      </script>
      <script type="text/javascript" async src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}